{# {% extends 'base.html.twig' %} #}

{# {% block title %} #}
{#    Wel commm {{ smth }} #}
{# {% endblock %} #}

{# {% block body %} #}

<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <link rel="stylesheet" type="text/css" href="map.css"/>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v7.js"></script>
</head>

<!-- Create an element where the map will take place -->
<div class="svg-container" style="width:50%">
    <svg viewBox="0 0 0 0"></svg>
</div>
<script src="svg.js"></script>
<script src="map.js"></script>

{#<div style="width:300px; height:100px; border:1px solid green">#}
{#    <svg>#}
{#        <path d="M 10 10 H 90 V 90 H 10 Z" fill="transparent" stroke="black"/>#}
{#    </svg>#}
{#</div>#}

{#{% endblock %}#}
