{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{{ asset('add.js') }}"></script>
{% endblock %}

{% block stylesheets %}
{#    <style>#}
{#        a:link, a:visited {#}
{#            background-color: #f44336;#}
{#            color: white;#}
{#            padding: 15px 25px;#}
{#            text-align: center;#}
{#            text-decoration: none;#}
{#            display: inline-block;#}
{#        }#}

{#        a:hover, a:active {#}
{#            background-color: red;#}
{#        }#}
{#    </style>#}
{% endblock %}

{% block body %}
{#    {{ dump(app.user.id) }}#}
    <button id="addquote">Add quote</button>
    </br>
    </br>
{% endblock %}
