<html>
<head>

</head>
<body>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="button">Сохранить</button>
{{ form_end(form) }}

</body>
</html>